<div class="modal-header">
  <div class="d-flex justify-content-between head-bg py-3 px-4 w-100">
    <div class="d-flex">
      <div class="d-flex flex-column mr-4">
        <span>DETALLE DE ORDEN</span>
        <span><small class="sub-title font-weight-bold">PEDIDO N.º{{  order.invoice?.codeSAP  }}</small></span>
      </div>
      <div class="d-flex flex-column mr-4">
        <span class="sub-title">PEDIDO REALIZADO</span>
        <span><small class="sub-title font-weight-bold">{{ order.create | date }}</small></span>
      </div>
    </div>
    <div class="d-flex flex-column">
      <span>ESTATUS</span>
      <div [ngSwitch]="order.status">
        <div *ngSwitchCase="-1"><span><small class="font-weight-bold text-info"> EN CARRITO</small></span></div>
        <div *ngSwitchCase="0"><span><small class="font-weight-bold text-danger"> CANCELADA</small></span></div>
        <div *ngSwitchCase="1"><span><small class="font-weight-bold text-warning"> EN PROCESO</small></span></div>
        <div *ngSwitchCase="2"><span><small class="font-weight-bold text-success"> APROBADA</small></span></div>
        <div *ngSwitchDefault>Nulo</div>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="d-flex col-12 flex-column">
    <div *ngFor="let item of order.items" class="d-flex flex-column align-items-start flex-lg-row mb-4">
      <img *ngIf="!item.imageURL"
        class="item-image rounded-lg" 
        src="../../../../../assets/images/product-placeholder.svg" alt="Imagen de producto"
        >
        <img *ngIf="item.imageURL"
        class="item-image rounded-lg" 
        [src]="item.imageURL" alt=""
        >
      <div class="d-flex flex-column ml-lg-4 pr-4">
        <h6 class="sub-title">{{ item.material.name | titlecase }}</h6>
        <span class="sub-title">Cantidad: 
          <span class="font-weight-bold sub-title">{{ item.quantity }}</span>
        </span>
        <span>Total por producto: 
          <span class="font-weight-bold sub-title"> {{ (item.amount | currency: ' ') + ' RD$' }}</span>
        </span>
      </div>
    </div>
    <hr>
    <div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-1 d-flex align-items-center justify-content-between px-4">
        <span class="font-weight-bold sub-title">Sub-total: </span>
        <span class="font-weight-normal ml-2">{{ (order.itemAmount | currency: ' ') + ' RD$' }}</span> 
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-1 d-flex align-items-center justify-content-between px-4">
        <span class="font-weight-bold sub-title">Descuento: </span>
        <span class="font-weight-normal ml-2">0.00 RD$</span> 
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-1 d-flex align-items-center justify-content-between px-4">
        <span class="font-weight-bold sub-title">Impuesto: </span>
        <span class="font-weight-normal ml-2">
          {{ (tax * subTotal | currency: ' ') + ' RD$' }}
        </span> 
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-1 d-flex align-items-center px-2">
        <div class="w-100 py-2 d-flex align-items-center px-3 search justify-content-between">
          <span class="font-weight-bold sub-title">Total: </span>
          <span class="font-weight-bold ml-2 sub-title">{{
            ((subTotal * tax) + subTotal | currency: ' ') + ' RD$'
            }}</span> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="modal-footer">
  <button class="btn btn-default" (click)="closeModal()">Cerrar</button>
</div>
