.item-image {
    height: 80px;
    width: auto;
}
.unstyled-btn {
    color: rgb(11, 58, 189) !important;
    cursor: pointer;
}
.unstyled-btn:hover {
    text-decoration: underline;
}
.head-bg {
    background-color: var(--card-header);
    border: 1px solid rgb(165, 165, 165);
    border-radius: 4px 4px;
}