.search-input {
  border: none;
  outline: none;
  background-color: var(--font-eee) !important;
}
.search {
  padding: 1rem;
  background-color: var(--font-eee);
  max-height: 36px;
}
.fav-button {
  height: 100%;
  width: 40px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-size {
  font-size: 20px;
}
.product-card-header {
  height: 40px;
}
.pointer {
  cursor: pointer;
}
.product-card {
  border: 1px solid var(--border-color);
}
.product-card-category {
  font-size: 12px;
}
.circles {
  height: 20px;
  width: auto;
}
.presentations {
  padding: 0.12rem;
  justify-content: center;
  align-items: center;
  font-weight: 400 !important;
  margin-top: 0.30rem;
  background-color: var(--font-eee);
}
.customized-dropdown {
  max-height: 300px !important;
  overflow: auto;
}
.no-results {
  height: 50vh;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .available-tag {
    font-size: 8px;
    height: 1.2rem;
  } 
  .fav-button {
    width: 25px;
    height: 25px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-size {
    font-size: 10px;
  }
  .product-card {
    padding: 0.6rem !important;
  }
  .product-name {
    font-size: 1rem;
  }
}