
<div class="custom-container">
	<!-- Page header section  -->
	<div class="block-header">
		<div class="row clearfix">
			<div class="col-lg-4 col-md-12 col-sm-12">
				<h1>¡Hola, bienvenido de nuevo!</h1>
				<span>Catálogo de productos,</span>
			</div>
			<div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-9 pl-lg-2">
			<div class="w-100 rounded-lg card-bg card shadow-card py-3 px-3">
				<div class="d-flex justify-content-between">
					<div class="w-100">
						<h5 class="font-weight-bold m-0 sub-title">Catálogo de productos</h5>
						<span>{{ categoryName() }}</span>
					</div>
					<div class="d-flex align-items-center search rounded-lg">
						<i class="fa fa-search icons-size mr-2" aria-hidden="true"></i>
						<input 
							[(ngModel)]="fullText" 
							(ngModelChange)="fullTextSearch()" 
							class="card-bg search-input" placeholder="Buscar..." 
							type="text">
					</div>
				</div>
				<hr>
				<!-- PRODUCTS-GALLERY -->
				<div class="w-100 no-results d-flex flex-column mt-4" *ngIf="(products$ | async).length == 0">
					<h1 class="text-center block">No hay resultados</h1>
					<h2 class="text-center block">No existen productos con las especificaciones indicadas, trate con otras.</h2>
				</div>
				<div class="row row-cols-xl-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
					<div class="col p-2" *ngFor="let product of products$ | async">
						<div [routerLink]="['/product-detail', product.code]" class="card-bg product-card pointer rounded-lg d-flex flex-column p-4">
							<div class="d-flex justify-content-between align-items-center product-card-header">
								<button *ngIf="!product.tag" type="button" class="btn btn-primary rounded-lg available-tag">Disponible</button>
								<button *ngIf="product.tag" type="button" class="btn btn-primary rounded-lg h-75">{{ product.tag }}</button>
								<div class="card-bg card rounded-circle bg-danger fav-button">
									<i class="fa fa-heart-o icons-size" aria-hidden="true"></i>
								</div>
							</div>
							<img class="w-100 h-auto rounded-lg mt-3" 
								*ngIf="!product.imageURL" 
								src="../../../../../assets/images/product-placeholder.png"  
								alt="imagen de producto">
							<img class="w-100 h-auto rounded-lg mt-3" 
								*ngIf="product.imageURL" 
								[src]="product.imageURL" 
								alt="imgen de producto"
							>
							<div class="d-flex flex-column align-items-center mt-3">
								<h5 class="font-weight-bold sub-title product-name">{{ product.name | titlecase }}</h5>
								<span class="product-card-category mt-2">Presentación, Categoria</span>
								<!-- <h5 class="font-weight-bold sub-title mt-2">{{ (product.price | currency:' ') + ' RD$' }}</h5> -->
								<div class="d-flex flex-column align-items-center mt-2">
									<!-- <span class="sub-title font-weight-bold">Presentaciones: </span>
									<div class="d-flex">
										<div class="presentations rounded-lg ml-2" *ngFor="let presentation of product.resentations">
											<span class="mx-2">{{ presentation.Name | titlecase }}</span>
										</div>		
									</div>						 -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- PAGINATION -->
				<!-- <div *ngIf="(products$ | async).length > 0">
					<app-pagination
					[totalOfPages]="totalOfPages$ | async"
					[currentPage]="currentPage"
					(changePage)="onChangePage($event)"
					></app-pagination>
				</div> -->
			</div>
		</div>
		<!-- FILTER -->
		<aside class="col-lg-3 pr-lg-2">
			<div class="w-100 rounded-lg card-bg card shadow-card">
				<div class="w-100 py-2 px-4">
					<h5 class="font-weight-bold m-0 sub-title">Filtros</h5>
				</div>
				<hr class="m-0">
				<div class="w-100 py-2 px-4 mt-4 mb-4">
					<span class="font-weight-bold">Nombre</span>
					<input [(ngModel)]="filterApplied.Name" type="text" class="form-control" aria-describedby="nameFilter">
				</div>
				<hr>
				<div class="w-100 py-2 px-4 my-4">
					<span class="font-weight-bold">Presentación</span>
					<input  [(ngModel)]="filterApplied.Presentation" 
						type="text" class="form-control" 
						aria-describedby="presentationFilter">
				</div>
				<hr>
				<div class="w-100 py-2 px-4 my-4 d-flex flex-column">
					<span class="font-weight-bold">Etiqueta</span>
					<div class="btn-group" dropdown>
						<button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
								aria-controls="dropdown-basic">
							{{ !filterApplied.Tag ? 'Todas': filterApplied.Tag }} <span class="caret"></span>
						</button>
						<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu customized-dropdown" role="menu" aria-labelledby="button-basic">
								<li *ngFor="let item of tagGenerate()" (click)="setTag(item)" role="menuitem">
									<a class="dropdown-item" href="javascript:void(0);">{{ item }}</a>
								</li>
						</ul>
					</div>
				</div>
				<hr>
				<div class="w-100 py-2 px-4 mb-4 d-flex flex-column">
					<h6 class="font-weight-bold">Precio</h6>
					<div class="w-100">
						<div class="btn-group w-50" dropdown>
							<button id="button-basic" dropdownToggle type="button" class="btn btn-default mr-2 dropdown-toggle w-100"
									aria-controls="dropdown-basic">
									{{ !filterApplied.Min ? 'Mínimo': (filterApplied.Min | currency: ' ') + ' RD$' }} <span class="caret"></span>
							</button>
							<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu customized-dropdown"
									role="menu" aria-labelledby="button-basic">
									<li *ngFor="let item of minMaxGenerate()" (click)="setMin(item)" role="menuitem">
										<a class="dropdown-item" href="javascript:void(0);">{{ (item | currency: ' ') + ' RD$' }}</a>
									</li>
							</ul>
						</div>
						<div class="btn-group w-50" dropdown>
							<button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle ml-2 w-100"
									aria-controls="dropdown-basic">
								{{ !filterApplied.Max ? 'Máximo': (filterApplied.Max | currency: ' ') + ' RD$' }} <span class="caret"></span>
							</button>
							<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu customized-dropdown"
									role="menu" aria-labelledby="button-basic">
									<li *ngFor="let item of minMaxGenerate()" (click)="setMax(item)" role="menuitem">
										<a class="dropdown-item" href="javascript:void(0);">{{ (item | currency: ' ') + ' RD$' }}</a>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-primary w-100 py-2 rounded-lg mb-2"
					(click)="setFilters()"
					>Aplicar filtros
			</button>
			<button class="btn btn-default w-100 py-2 rounded-lg"
					(click)="resetFilters()"
					>Limpiar filtros
			</button>
		</aside>
	</div>
</div>


