<!-- <app-header></app-header> -->
<div>
  <section class="hourly-list px-2 m-2 rounded-lg">
    <div class="d-flex justify-content-between">
      <h5 class="">11:00AM</h5>
      <h5 class="">Martes</h5>
    </div>
    <div class="row">
      <div *ngFor="let item of groupA" class="col-12 col-md-6 col-xl-3 my-3">
        <delivery-details-card
        [showFullInfo]="true"
        [delivery]="item"
        ></delivery-details-card>
      </div>
    </div>
  </section>
  <hr>
  <section class="hourly-list px-2 m-2 rounded-lg">
    <div class="d-flex justify-content-between">
      <h5 class="">1:00PM</h5>
      <h5 class="">Martes</h5>
    </div>
    <div class="row">
      <div *ngFor="let item of groupB" class="col-12 col-md-6 col-xl-3 my-3">
        <delivery-details-card
        [showFullInfo]="true"
        [delivery]="item"
        ></delivery-details-card>
      </div>
    </div>
  </section>
  <hr>
  <section class="hourly-list px-2 m-2 rounded-lg">
    <div class="d-flex justify-content-between">
      <h5 class="">10:00AM</h5>
      <h5 class="">Martes</h5>
    </div>
    <div class="row">
      <div *ngFor="let item of groupC" class="col-12 col-md-6 col-xl-3 my-3">
        <delivery-details-card
        [showFullInfo]="true"
        [delivery]="item"
        ></delivery-details-card>
      </div>
    </div>
  </section>
  
  <router-outlet></router-outlet>
</div>
<!-- <app-footer></app-footer> -->
