.item-option {
  display: block;
  padding: 0.25rem 1rem;
  height: 40px;
  height: auto;
  border: 2px solid var(--border-color);
  cursor: pointer;
}
.item-option-selected {
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
}