
<div class="row w-100">
  <!-- ITEMS-SELECTED -->
  <div class="col-lg-9 pl-lg-2">
    <div *ngIf="(cart$ | async)?.items.length == 0 || (cart$ | async) === null" class="w-100 h-100 rounded-lg card-bg card shadow-card d-flex align-items-center">
      <div class="h-100 d-flex flex-column justify-content-center">
        <h2 class="text-center block">CARRITO VACIO</h2>
        <h3 class="text-center block">NO HAY ARTÍCULOS SELECCIONADOS</h3>
        <h1 class="text-center block"><i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
      </div>
    </div>
    <!-- ITEMS -->
    <div *ngFor="let item of (cart$ | async)?.items; let i = index" class="w-100 rounded-lg card-bg card shadow-card py-3 px-3">
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex">
            <img *ngIf="!item.imageURL"
              class="item-image rounded-lg" 
              src="../../../../../assets/images/product-placeholder.png" 
              alt=""
            >
            <img *ngIf="item.imageURL"
              class="item-image rounded-lg" 
              [src]="item.imageURL" 
              alt=""
            >
            <div class="d-flex flex-column ml-4">
              <h5 class="font-weight-bold sub-title">{{ item.material.name | titlecase }}</h5>
              <div class="mb-1">Presentacion: <span class="font-weight-bold sub-title">
                {{ item.material.presentation.name | titlecase }}</span></div>
              <div class="mb-1">Peso: <span class="font-weight-bold sub-title">
                {{ item.material.presentation.sizeKg | number }}</span></div>
              <div class="mb-1">Precio por KG: <span class="font-weight-bold sub-title">
                {{ (item.originalPrice | currency: ' ' ) + ' RD$'}}</span></div>
            </div>
          </div>
          <div class="d-flex">
            <button (click)="deleteFromCart(item.id)" class="btn h-25 rounded-lg">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button class="btn h-25 ml-3 rounded-lg">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="row row-cols-3">
        <div class="col-4 col-md-3 d-flex flex-column">
          <span>Precio</span>
          <span class="font-weight-bold sub-title mt-2">
            {{ (item.amount | currency: ' ') + ' RD$' }}
          </span>
        </div>
        <div class="col-6 col-md-3">
          <span>Cantidad</span>
          <div class="product-card mt-2 py-2 px-3 w-100 rounded-lg d-flex justify-content-between align-items-center">
            <button (click)="substractOneToQuantity(item, i)" class="btn btn-default">
              <span class="font-weight-bold sub-title">-</span>
            </button>
            <div *ngIf="(isComponentLoading$ | async) && indexUpdating === i;else content">
              <div *ngIf="(isComponentLoading$ | async) && indexUpdating === i" class="btn-loader"></div>
            </div>
            <ng-template #content>
              <span class="sub-title d-block mx-2">{{ item.quantity }}</span>
            </ng-template>
            <button (click)="addOneToQuantity(item, i)" class="btn btn-default">
              <span class="font-weight-bold sub-title">+</span>
            </button>
          </div>
        </div>
        <div class="col-2 col-md-6 d-flex flex-column">
          <span>Total</span>
          <span class="font-weight-bold sub-title mt-2">
            {{ ((item.amount) | currency: ' ') + ' RD$' }}
          </span>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <!-- ORDER-SUMARY -->
<aside class="col-lg-3">
  <div class="w-100">
    <div class="w-100 rounded-lg card-bg card shadow-card">
      <div class="w-100 py-4 px-4">
        <h5 class="font-weight-bold m-0 sub-title">Resumen de orden</h5>
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-3 d-flex align-items-center justify-content-between px-4">
        <span class="font-weight-bold sub-title">Sub-total: </span>
        <span *ngIf="(cart$ | async)?.itemAmount" 
            class="font-weight-normal ml-2">
            {{ ((cart$ | async)?.itemAmount | currency: ' ') + ' RD$' }}
        </span> 
        <span *ngIf="!(cart$ | async)?.itemAmount"  class="font-weight-normal ml-2">0.00 RD$</span> 
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-3 d-flex align-items-center justify-content-between px-4">
        <span class="font-weight-bold sub-title">Descuento: </span>
        <span class="font-weight-normal ml-2">0.00 RD$</span> 
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-3 d-flex align-items-center justify-content-between px-4">
        <span class="font-weight-bold sub-title">Impuesto: </span>
        <span class="font-weight-normal ml-2">
          {{ (tax * (cart$ | async)?.itemAmount | currency: ' ') + ' RD$' }}
        </span> 
      </div>
      <hr class="m-0 mx-4">
      <div class="w-100 py-3 d-flex align-items-center px-2">
        <div class="w-100 py-2 d-flex align-items-center px-4 search justify-content-between">
          <span class="font-weight-bold sub-title">Total: </span>
          <span class="font-weight-bold ml-2 sub-title">{{
            ((subTotal * tax) + subTotal | currency: ' ') + ' RD$'
            }}</span> 
        </div>
      </div>
    </div>
    <!-- PREFERED-DATE -->
    <input *ngIf="(getOrderIsQuoted$ | async)" type="text"
      placeholder="Fecha preferible de entrega"
      class="form-control date-picker-input"
      [(ngModel)]="date"
      (ngModelChange)="selectingDate()"
      bsDatepicker>
    <small 
      *ngIf="dateError && (getOrderIsQuoted$ | async)" 
      class="text-danger"
      >La fecha no puede ser igual o menor a la fecha actual
    </small>
    <input *ngIf="(getOrderIsQuoted$ | async)" type="time" 
      required
      placeholder="Hora preferible de entrega"
      class="form-control mt-2 date-picker-input"
      [(ngModel)]="time"
      (ngModelChange)="selectingTime()"
    >
    <!-- PLACE-ORDER-BUTTON -->
    <button *ngIf="!(getOrderIsQuoted$ | async)" 
      [disabled]="(getCartIsEmpty$ | async)"
      (click)="quoteOrder()"
      class="mt-2 btn btn-primary w-100 py-2 rounded-lg d-flex justify-content-center"
      > 
      <span *ngIf="!isLoading">Cotizar orden</span>
      <div *ngIf="isLoading" class="btn-loader"></div>
    </button>

    <!-- QUOTE-BUTTON -->
    <button *ngIf="(getOrderIsQuoted$ | async)" 
      (click)="confirmOrder()" 
      [disabled]=" dateError || date === null || !time"
      class="mt-2 btn btn-primary w-100 py-2 rounded-lg d-flex justify-content-center"
      > 
      <span *ngIf="!isLoading">Confirmar orden</span>
      <div *ngIf="isLoading" class="btn-loader"></div>
    </button>

    <!-- BACK-TO-SELECTION-BUTTON-->
    <button 
      class="btn btn-default mt-2 w-100 py-2 rounded-lg" 
      [routerLink]="['/products/categories']">
      <i class="fa fa-arrow-left mr-3" aria-hidden="true"></i>
      <span>Continuar seleccionando</span> 
    </button>
  </div>
</aside>

</div>


