.item-image {
    height: 120px;
    width: auto;
  }
.product-card {
  border: 1px solid var(--border-color);
}
.search {
  background-color: var(--font-eee);
  max-height: 36px;
}
.date-picker-input {
  background-color: white !important;
  height: 2.6rem;
}