<app-header></app-header>
<div id="main-content">
  <div class="custom-container">
    <!-- Page header section  -->
    <div class="block-header">
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12 col-sm-12">
          <h1>Historial de órdenes</h1>
          <span>Información de las órdenes realizadas</span>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <!-- PEDIDOS -->
      <div class="row">
        <div *ngIf="(orders$ | async) === null || (orders$ | async)?.length === 0" class="col-8">
          <div class="w-100 h-100 rounded-lg card-bg card d-flex align-items-center">
            <div class="h-100 d-flex flex-column justify-content-center">
              <h2 class="text-center block">ORDENES</h2>
              <h3 class="text-center block">NO HAY ORDENES CREADAS CON ESTE CRITERIO DE BUSQUEDA</h3>
              <h1 class="text-center block"><i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>
            </div>
          </div>
        </div>
        <div  *ngIf="(orders$ | async) !== null" class="col-8">
          <div *ngFor="let order of (orders$ | async); let i = index" class="w-100 rounded-lg card-bg card shadow-card px-0 shadow-sm mb-4">
            <div class="d-flex flex-column justify-content-between w-100">
              <div class="d-flex justify-content-between head-bg py-3 px-4">
                <div class="d-flex">
                  <div class="d-flex flex-column mr-4">
                    <span class="sub-title">PEDIDO REALIZADO</span>
                    <span><small class="sub-title font-weight-bold">{{order.create | date}}</small></span>
                  </div>
                  <div class="d-flex flex-column">
                    <span class="sub-title">TOTAL DE COMPRA</span>
                    <span><small class="sub-title font-weight-bold"> {{ order.itemAmount | currency: ' ' + ' RD$' }}</small></span>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <span class="sub-title">PEDIDO N.º{{ order.invoice?.codeSAP }}</span>
                  <span (click)="seeOrderDetails(order, template1)" ><small class="unstyled-btn">Ver detalles del pedido</small></span>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-lg-2 px-4 mt-4">
                <div class="d-flex col-12 col-lg-9 flex-column">
                  <div *ngFor="let item of order.items" class="d-flex flex-column align-items-start flex-lg-row">
                    <img class="item-image rounded-lg" 
                      src="../../../../../assets/images/product-placeholder.svg" alt="">
                    <div class="d-flex flex-column ml-lg-4 pr-4">
                      <h6 class="font-weight-bold sub-title">{{ item.material.name | titlecase }}</h6>
                      <p class="sub-title">{{ item.material.description | supensiveDots: 140 }}</p>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="d-flex flex-column col-12 col-lg-3">
                  <!-- <button 
                    class="btn btn-default mt-2 w-100 py-2 rounded-lg">
                    <span>
                      <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                      Ver factura
                    </span>
                  </button> -->
                  <button 
                    (click)="printOrder(order)"
                    class="btn btn-default mt-2 w-100 py-2 rounded-lg">
                      <span>
                        <i class="fa fa-print" aria-hidden="true"></i>
                        Imprimir orden
                      </span>
                  </button>
                </div>
              </div>
            </div>
            <hr>
            <div class="d-flex justify-content-end pb-3 px-4">
              <div [ngSwitch]="order.status">
                <div *ngSwitchCase="-1"><span>Estatus:<small class="font-weight-bold text-info"> EN CARRITO</small></span></div>
                <div *ngSwitchCase="0"><span>Estatus:<small class="font-weight-bold text-danger"> CANCELADA</small></span></div>
                <div *ngSwitchCase="1"><span>Estatus:<small class="font-weight-bold text-warning"> EN PROCESO</small></span></div>
                <div *ngSwitchCase="2"><span>Estatus:<small class="font-weight-bold text-success"> APROBADA</small></span></div>
                <div *ngSwitchDefault>Nulo</div>
              </div>
            </div>
          </div>
        </div>
        <!-- FILTROS -->
        <aside class="col-4">
          <div class="w-100 rounded-lg card-bg card shadow-card">
            <div class="w-100 py-2 px-4">
              <h5 class="font-weight-bold m-0 sub-title">Filtrar por</h5>
            </div>
            <hr class="m-0">
            <div class="w-100 py-2 px-4 mt-4 mb-4">
              <span class="font-weight-bold">Fecha inicial</span>
              <input type="text" placeholder="Cualquiera" class="form-control date-picker-input"
                [(ngModel)]="startDate" (ngModelChange)="selectingInitialDate()" bsDatepicker>
            </div>
            <hr>
            <div class="w-100 py-2 px-4 my-4">
              <span class="font-weight-bold">Fecha final</span>
              <input type="text" placeholder="Cualquiera" class="form-control date-picker-input"
                [(ngModel)]="endDate" (ngModelChange)="selectingEndDate()" bsDatepicker>
            </div>
            <hr>
            <div class="w-100 py-2 px-4 my-4 d-flex flex-column">
              <span class="font-weight-bold">Status</span>
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
                    aria-controls="dropdown-basic">
                  {{ !statusSelected ? 'Todas': statusSelected }} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu customized-dropdown" role="menu" aria-labelledby="button-basic">
                    <li *ngFor="let item of statusKey; let i = index" role="menuitem">
                      <a (click)="setStatus(item, statusValue[i])" class="dropdown-item" href="javascript:void(0);">{{ item }}</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <button class="btn btn-primary w-100 py-2 rounded-lg mb-2"
              (click)="searchWithFilters()"
              >Aplicar filtros
          </button>
          <button class="btn btn-default w-100 py-2 rounded-lg"
              (click)="resetFilters()"
              >Limpiar filtros
          </button>
        </aside>
      </div>
		</div>
  </div>
</div>

<!-- <app-footer></app-footer> -->


<!-- 
<pagination
  [currentPage]="currentPage"
  [totalOfPages]="(totalOfPages$ | async)"
  (changePage)="onChangePage($event)"
></pagination> -->

<ng-template #template1>
  <see-order-details
    [modalRef]="modalRef"
    [order]="selectedOrder"
  ></see-order-details>
</ng-template>

<ngx-spinner type="line-scale-pulse-out"></ngx-spinner>


