<div class="w-100 rounded-lg card-bg card shadow-card col-10 px-0">
  <div class="d-flex justify-content-between w-100">
    <div class="d-flex flex-column justify-content-between w-100">
      <div class="d-flex justify-content-between head-bg py-3 px-4">
        <div class="d-flex">
          <div class="d-flex flex-column mr-4">
            <span>CONFIRMACION DE ORDEN</span>
            <span><small class="sub-title font-weight-bold">Escoja un método de pago para su orden</small></span>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-lg-2 px-4 pb-4 mt-4">
        <!-- ITEMS-INFO -->
        <div class="d-flex col-12 col-lg-8 flex-column">
          <div *ngFor="let item of (cart$ | async)?.items" class="d-flex flex-column align-items-start flex-lg-row mb-4">
            <img *ngIf="!item.imageURL"
              class="item-image rounded-lg" 
              src="../../../../../assets/images/product-placeholder.png" alt="Imagen de producto"
              >
              <img *ngIf="item.imageURL"
              class="item-image rounded-lg" 
              [src]="item.imageURL" alt=""
              >
            <div class="d-flex flex-column ml-lg-4 pr-4">
              <h6 class="sub-title">{{ item.material.name | titlecase }}</h6>
              <span class="sub-title">Cantidad: 
                <span class="font-weight-bold sub-title">{{ item.quantity }}</span>
              </span>
              <span>Total por producto: 
                <span class="font-weight-bold sub-title"> {{ (item.amount | currency: ' ') + ' RD$' }}</span>
              </span>
            </div>
          </div>
          <hr>
          <div>
            <hr class="m-0 mx-4">
            <div class="w-100 py-1 d-flex align-items-center justify-content-between px-4">
              <span class="font-weight-bold sub-title">Sub-total: </span>
              <span class="font-weight-normal ml-2">{{ ((cart$ | async)?.itemAmount | currency: ' ') + ' RD$' }}</span> 
            </div>
            <hr class="m-0 mx-4">
            <div class="w-100 py-1 d-flex align-items-center justify-content-between px-4">
              <span class="font-weight-bold sub-title">Descuento: </span>
              <span class="font-weight-normal ml-2">0.00 RD$</span> 
            </div>
            <hr class="m-0 mx-4">
            <div class="w-100 py-1 d-flex align-items-center justify-content-between px-4">
              <span class="font-weight-bold sub-title">Impuesto: </span>
              <span class="font-weight-normal ml-2">
                {{ (tax * subTotal | currency: ' ') + ' RD$' }}
              </span> 
            </div>
            <hr class="m-0 mx-4">
            <div class="w-100 py-1 d-flex align-items-center px-2">
              <div class="w-100 py-2 d-flex align-items-center px-3 search justify-content-between">
                <span class="font-weight-bold sub-title">Total: </span>
                <span class="font-weight-bold ml-2 sub-title">{{
                  (((cart$ | async)?.itemAmount * tax) + (cart$ | async)?.itemAmount | currency: ' ') + ' RD$'
                  }}</span> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="d-flex flex-column rounded-lg border p-4">
            <form action="">
              <h5 class="sub-title font-weight-bold mb-4">Método de pago</h5>
              <div class="form-group align-items-center my-0">
                <input type="radio" name="pay-method" id="card" [value]="'card'" [(ngModel)]="paymentTypeSelected" class="mr-2">
                <label for="card">Tarjeta</label>
              </div>
              <div class="form-group align-items-center my-0">
                <input type="radio" name="pay-method" id="credit" [value]="'credit'" [(ngModel)]="paymentTypeSelected" class="mr-2">
                <label for="credit">Crédito</label>
              </div>
              <div class="form-group d-flex justify-content-between align-items-center my-0">
                <div>
                  <input type="radio" name="pay-method" id="transfer" [value]="'transfer'" [(ngModel)]="paymentTypeSelected" class="mr-2">
                  <label for="transfer">Transferencia</label>
                </div>
              </div>
            </form>
            <!-- DROP-ZONE -->
            <div *ngIf="paymentTypeSelected === 'transfer'" dragAndDrop class="drop-zone d-flex flex-column align-items-center justify-content-center"
              (fileDropped)="onDropped($event)" >
              <img *ngIf="!imageLoaded" class="document-size" src="../../../../../assets//images/document.svg" alt="transfer image">
              <img *ngIf="imageLoaded" class="document-size" [src]="imageLoaded" alt="transfer image">
              <input type="file" #file id="file-dropper-ref" (change)="onDropped($event.target.files)" >
              <span *ngIf="!imageLoaded" class="text-common mb-4">Arroje aquí la foto con la transferencia</span>
              <span *ngIf="imageLoaded" class="text-common mb-4">Imagen cargada</span>
              <button *ngIf="!imageLoaded" class="btn btn-default location-buttons mb-2" (click)="file.click()" >Subir foto</button>
              <button *ngIf="imageLoaded" class="btn btn-default location-buttons mb-2" (click)="removePhoto()" >Remover foto</button>
            </div>
            <input 
              *ngIf="paymentTypeSelected === 'transfer'" 
              type="text" 
              placeholder="Monto de la transferencia" 
              class="form-control mt-2" 
              [(ngModel)]="transferAmount">
            <button 
              (click)="finishOrder()"
              [disabled]="isLoading || paymentTypeSelected === null"
              class="btn btn-primary mt-2 w-100 py-2 rounded-lg d-flex justify-content-center">
                <span *ngIf="!isLoading">Confirmar</span>
                <div *ngIf="isLoading" class="btn-loader"></div>
            </button>
            <button 
              (click)="backtoCart()"
              class="btn btn-default mt-2 w-100 py-2 rounded-lg">
                Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
