
<div class="custom-container">
  <!-- Page header section  -->
  <div>
    <div class="row clearfix">
      <!-- <div class="col-12">
        <h1 class="text-center title">Productos</h1>
        <hr class="mb-4">
      </div> -->
      <div class="d-flex col-12 justify-content-between mb-4">
        <div class="w-100">
          <h3 class="font-weight-bold m-0 sub-title">Productos</h3>
          <span>{{ !viewAllCategories ? 'Categorias principales' : 'Todas las categorias'}}</span>
        </div>
        <div class="d-flex align-items-center search rounded-lg">
          <i class="fa fa-search icons-size mr-2" aria-hidden="true"></i>
          <input 
            
            class="card-bg search-input" placeholder="Buscar productos..." 
            type="text">
        </div>
        <hr class="mb-4">
      </div>
    </div>
  </div>

  <div  *ngIf="!viewAllCategories" class="row clearfix safe-content">
    <div class="col-xl-4 col-lg-6 col-12 pb-3">
      <a class="product-category-item" [routerLink]="['/products/catalog', '01']"
         [queryParams]="{ page: 1 }">
        <img src="../../../../../assets/images/industrial.jpg"
        alt="categoria industrial">
        <div class="product-category-title"></div>
        <h3>Industrial</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 pb-3">
      <a class="product-category-item" [routerLink]="['/products/catalog', '02']" 
        [queryParams]="{ page: 1 }" >
        <img src="../../../../../assets/images/pintura.jpg" alt="categoria pintura">
        <div class="product-category-title"></div>
        <h3>Pintura</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 pb-3">
      <a class="product-category-item" [routerLink]="['/products/catalog', '03']" 
        [queryParams]="{ page: 1 }">
        <img src="../../../../../assets/images/plasticos.jpg" alt="categoria plásticos">
        <div class="product-category-title"></div>
        <h3>Plásticos</h3>
      </a>
    </div>

    <div class="col-xl-4 col-lg-6 col-12 pb-3">
      <a class="product-category-item" [routerLink]="['/products/catalog', '04']" 
        [queryParams]="{ page: 1 }">
        <img src="../../../../../assets/images/construccion.jpg" alt="categoria construcción">
        <div class="product-category-title"></div>
        <h3>Construcción</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 pb-3">
      <a class="product-category-item" [routerLink]="['/products/catalog', '05']" 
        [queryParams]="{ page: 1 }">
        <img src="../../../../../assets/images/ferreteria.jpg" alt="categoria ferretería">
        <div class="product-category-title"></div>
        <h3>Ferretería</h3>
      </a>
    </div>
    <div class="col-xl-4 col-lg-6 col-12 pb-3">
      <a class="product-category-item" [routerLink]="['/products/catalog', '06']" 
        [queryParams]="{ page: 1 }">
        <img src="../../../../../assets/images/agricultura.jpg" alt="categoria agricultura">
        <div class="product-category-title"></div>
        <h3>Agricultura</h3>
      </a>
    </div>
  </div>

  <div *ngIf="viewAllCategories" class="table-responsive">
    <table class="table table-hover table-custom spacing5 mb-0">
      <thead class="table-light card-bg">
      <tr>
        <th class="sub-title font-weight-bold">
         <span class="ml-4">Descripción</span>  
        </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a class="product-category-item ml-4" [routerLink]="['/products/catalog', '01']" 
              [queryParams]="{ page: 1 }">
              <span class="text-common letter-size">Industrial</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="product-category-item ml-4" [routerLink]="['/products/catalog', '02']" 
              [queryParams]="{ page: 1 }">
              <span class="text-common letter-size">Pintura</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="product-category-item ml-4" [routerLink]="['/products/catalog', '03']" 
              [queryParams]="{ page: 1 }">
              <span class="text-common letter-size">Plásticos</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="product-category-item ml-4" [routerLink]="['/products/catalog', '04']" 
              [queryParams]="{ page: 1 }">
              <span class="text-common letter-size">Construcción</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="product-category-item ml-4" [routerLink]="['/products/catalog', '05']" 
              [queryParams]="{ page: 1 }">
              <span class="text-common letter-size">Ferretería</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a class="product-category-item ml-4" [routerLink]="['/products/catalog', '06']" 
              [queryParams]="{ page: 1 }">
              <span class="text-common letter-size">Agricultura</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="ml-4">
              <span class="text-common letter-size">Categoria 1</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="ml-4">
              <span class="text-common letter-size">Categoria 2</span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" class="ml-4">
              <span class="text-common letter-size">Categoria 3</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <button (click)="toggleViewAllCategories()" class="btn mt-2 see-more"
  >{{ !viewAllCategories ? 'Ver todas la categorias' : 'Ver menos categorias' }}
  </button>


</div>





