<footer>
  <div class="footer-safe">
    <div class="safe-content">
      <section class="logo-area d-flex flex-column">
        <div>
          <img src="assets/images/sponsors/LOGO-AIRD.png" class="img-fluid logo-footer mx-4 mb-4" alt="">
          <img src="assets/images/sponsors/logo-multiquimica.png" alt="logo" class="img-fluid logo-footer mb-4">
        </div>
        <div>
          <img src="assets/images/sponsors/MP-Logo-V1.png" class="img-fluid logo-footer-md mx-4 mb-4" alt="">
          <img src="assets/images/sponsors/Logo__PEPD_fullcolor.png" class="img-fluid logo-footer-md mx-4 mb-4" alt="">
          <img src="assets/images/sponsors/MIC.png" class="img-fluid logo-footer-md mx-4 mb-4" alt="">
        </div>
      </section>
      <div class="divider"></div>
      <section class="info-area">
        <div>
          <span class="info-title mb-2">Contáctenos</span>
          <div class="info-group">
            <span>Teléfono/Whatsapp:</span>
            <span>+1(809)542-2721</span>
          </div>
          <div class="info-group">
            <span>Correo:</span>
            <span>info@multiquimica.com</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
