<div>
    <div class="container-fluid">

        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                   
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                </div>
            </div>
        </div>


        <!-- <div class="card">
                <div class="header">
                    <h2>Aprobación de la transferencia...</h2>
                </div>
                <div class="body">
                    <form id="basic-form" method="post" novalidate="" data-dashlane-rid="e11525ac61766348"
                        data-form-type="other">


                        <div class="form-group c_form_group">
                            <label>Text Area</label>
                            <textarea class="form-control" rows="5" cols="30" required=""
                                data-dashlane-rid="24b64b8ecd07360d" data-form-type="other"></textarea>
                        </div>


                        <br>
                        <button type="submit" class="btn btn-primary theme-bg float-right"
                            data-dashlane-rid="5db7db2bbf92ed6b" data-dashlane-label="true"
                            data-form-type="action">Enviar</button>
                    </form>
                </div>
            </div> -->


        <div class="body card d-flex justify-content-center align-items-left flex-column container-fluid card-bg">
            <div class="row">

                <div class="col">
                    <img class="img" src="../../../../../assets//images//sales-landing-picture.svg"
                        alt="imagen de ventas">
                </div>

                <div class="col img-content" >

                    <h2 style="text-align: center; padding-top: 50px;">La transición ha sido aprobada exitosamente
                    </h2>
                        <img class="img-check" src="../../../../../assets//images//aprovado-check.svg"
                            alt="imagen de check">
                </div>
            </div>


        </div>
    </div>
</div>