.c_form_group {
    border: 1px solid #ececec;
    text-align: left;
    padding: 20px;
    margin-bottom: 5px;
}

.btn{
    margin-bottom: 10px;
    padding: 5px 35px;
}



.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    height: 500px;
    box-shadow: 5px 5px;
width: 80%;
margin-top: 70PX;
}
.img{
   height: 400px;
   margin-left: 60px;
}

.img-check{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;   
}

.img-content{
    border-left: 0.5px solid gray;
}